*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217,45%,89%);
    min-height: 100vh;
    display:flex;
    align-items:center;
    font-size:15px;

}
.container{
    max-width:360px;
    margin:auto;

}
.image{
    background-color: #fff;
    padding:17px;
    border-radius:15px;
    text-align:center;
    margin:0 1em;

}
.image img{
    width:100%;
    border-radius:10px;
}
.text{
    padding:22px 10px;
}
.text h2{
    color:hsl(218, 44%, 22%);
    padding-bottom:15px;
}
.text p{
    color: hsl(220, 15%, 55%);
}
